body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: greenyellow;
    color: royalblue;
}

header {
    background: #3498db;
    color: green;
    padding: 30px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.about, .contacts {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contacts ul {
    list-style: none;
    padding: 0;
}

.contacts li {
    margin-bottom: 10px;
}

footer {
    background: #3498db;
    color: rose;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}